NEXTAUTH_URL=http://localhost:3007
NEXTAUTH_SECRET=

NEXT_PUBLIC_QUERY_PASSWORD= test@123

NEXT_PUBLIC_API_URL=http://localhost:3000/
NEXT_API_URL=http://localhost:3000/

NEXT_PUBLIC_AI_ASSISTANT_MODAL= "gpt-3.5-turbo"